<div class="row">
	<div class="col-xs-12">
        <!-- <p><b>Guess what??</p></b> -->
        <p>Your mental subsurf model is wrong!</p>
        <p><b>Sorry!</p></b>
		<p>Choose your difficulty level:</p>
		<ol>
			<li><a ui-sref="game({level: 1})">Hello world: Easy Peasy</a></li>
			<li><a ui-sref="game({level: 2})">Tunning: T is for what??</a></li>
			<li><a ui-sref="game({level: 3})">Wavelet Phase challenge: Who is the easiest person to fool?</a></li>
			<li><a ui-sref="game({level: 4})">Some Random stuff: Dazed and Confused</a></li>
            
            <b><p>"The first principle is that you must not fool yourself...</p>
            <p>"...and you are the easiest person to fool!"</p></b>

		</ol>
	</div>
</div>
