#gamearea {
	background-color: lightsteelblue;
	height: 700px;
}

.graphbox {
	float:left;
	background-color: pink;
	width: 24%;
	height: 95%;
	margin: 5px;
}

.controls {
	padding-top: 10px;
}

.axis path, axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px; 
}

.overlay {
	opacity: 0;
}